body{
    background:linear-gradient( #FEFEFE, #318CE7 )
}
header{
    background-image: url(Imagenes-Encriptador/Vector.png);
}
main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 10px;  
    margin-top: 50px;
}

.input-texto{
    margin-top: 5px;
    margin-left: 90px;
    box-sizing: border-box;
    border-color: darkblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.output-texto{
    padding: relative;
    margin-top: 5px;
    margin-left: 90px;
    background-image:url(Imagenes-Encriptador/img.png) ;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 300px;
    box-sizing: border-box;
    border-color: darkblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.encriptar{
    width: 30%;
    padding:10px 0 ;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius:5px;
    transition: 1s all ;
    cursor:pointer;
    margin-top: 20px;
    margin-left: 125px;
    margin-bottom: 60px;

}
.desencriptar{
    width: 30%;
    padding:10px 0 ;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius:5px;
    transition: 1s all ;
    cursor:pointer;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: auto;
}
.copiar{
    width: 30%;
    padding:10px 0 ;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius:5px;
    transition: 1s all ;
    cursor:pointer;
    position: relative;
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: auto;
}
